.tpt-user{position:relative;min-height:600px}
.tpt-tab{min-height:575px;margin:0 0 10px 220px;background:#fff;padding:10px 20px 20px 20px}
.jie-row li{position:relative;margin-bottom:10px;padding-bottom:10px;border-bottom:1px dotted #E9E9E9;font-size:0}
.jie-row li .jie-title{max-width:330px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.jie-row li a{padding-right:15px;font-size:14px}
.jie-row li *{display:inline-block;vertical-align:top;line-height:24px;font-size:12px}
.jie-row li cite,.jie-row li em,.jie-row li i{font-size:12px;color:#999;font-style:normal}
.jie-row li em{position:absolute;right:0;top:0}
.jie-row li .mine-edit{margin-left:15px;padding:0 6px;background-color:#8FCDA0;color:#fff;font-size:12px}
.home-dacontent{margin-top:10px;padding:10px 15px;background-color:#F2F2F5;border-radius:5px;word-wrap:break-word}
.home-jieda li p{color:#999}
.home-jieda li p span{padding-right:5px}
.home-jieda li a{padding:0 5px;color:#4F99CF}
.home-jieda li .mine-edit{margin-left:15px;padding:4px 6px;background-color:#8FCDA0;color:#fff;font-size:12px}
.home-jieda li{margin-bottom:20px;line-height:24px}
.avatar-add{position:relative;height:373px;background-color:#F2F2F5}
.avatar-add p{position:absolute;top:70px;width:100%;margin-top:10px;font-size:12px;text-align:center;color:#999}
.avatar-add .upload-img{position:absolute;left:50%;top:35px;margin:0 0 0 -60px}
.avatar-add img{position:absolute;left:50%;top:50%;width:168px;height:168px;margin:-50px 0 0 -84px;border-radius:100%}
.fly-home{position:relative;padding:30px 0 30px;text-align:center;background-color:#fff}
.fly-home img{width:120px;height:120px;border-radius:100%}
.fly-home h1{font-size:26px;line-height:30px;margin-top:10px}
.fly-home h1 .icon-nan{font-size:25px;color:#4EBBF9}
.fly-home h1 .icon-nv{font-size:25px;color:#F581B1}
.fly-home-info i{padding-right:5px;padding-left:10px;color:#666}
.fly-home-info span{color:#999}
.fly-home-sign{padding:0 10px;color:#999;margin-top:10px}
.fly-home-main{margin-top:15px;font-size:0;text-align:center}
.layui-inline{width:532px;vertical-align:top;font-size:14px;text-align:left}
.fly-panel{background-color:#fff;border-radius:2px}
.fly-panel-title{position:relative;height:40px;line-height:40px;padding:0 20px;margin-bottom:5px;background-color:#f8f8f8;color:#333;border-radius:2px 2px 0 0;font-size:14px}
.fly-home-da .home-jieda,.fly-home-jie .jie-row{min-height:300px;padding:5px 20px}
.fly-home-da{margin-left:15px}
.tpt-user .layui-nav{position:absolute;left:0;top:0;z-index:1000;height:100%;padding:10px 0}
.tpt-user .layui-nav .layui-icon{position:relative;top:2px;font-size:20px;margin-right:10px}
.tpt-user .layui-tab{margin:0}
.tpt-user .layui-tab-content{padding:10px 0}
.mine-msg li{position:relative;margin-bottom:15px;padding:10px 0 5px;line-height:24px;border-bottom:1px dotted #E9E9E9}
.mine-msg li cite{padding:0 5px;color:#4F99CF}
.mine-msg li .fly-delete{position:relative;top:-3px}
.mine-msg li>p{position:relative;margin-top:5px;line-height:26px;text-align:right}
.mine-msg li>p span{position:absolute;left:0;top:0;color:#999}
.tpt-tab .tpts-btn{margin:10px 0}