<div class="fly-tab fly-tab-index">
<span>
<a href="__INDEX__">最新帖子</a>
{if condition="config('web.WEB_URL') eq 1"}<a href="__ROOT__/choice.html">{else/}<a href="__INDEX__/choice.html">{/if}精帖</a>
{if condition="config('web.WEB_URL') eq 1"}<a href="__ROOT__/user/index.html">{else/}<a href="__INDEX__/user/index.html">{/if}我的帖子</a>
</span>
{if condition="config('web.WEB_URL') eq 1"}
<form action="__ROOT__/search.html" class="layui-form fly-search">
{else/}
<form action="__INDEX__/search.html" class="fly-search">
{/if}
<input placeholder="搜索" type="text" name="ks" value="<?php echo input('ks');?>" required lay-verify="required" autocomplete="off" class="layui-input">
<button lay-submit="" style="cursor: pointer;position: absolute;right: 10px;top: 11px;border: 0px solid #fff;color: #B5B5B5;background: #FFF;" type="submit"><i class="iconfont">&#xe6a4;</i></button>
</form>
{if condition="config('web.WEB_URL') eq 1"}<a href="__ROOT__/add.html" class="layui-btn jie-add">{else/}<a href="__INDEX__/add.html" class="layui-btn jie-add">{/if}发表帖子</a>
</div>